#fase1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#titulo_fase{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
}

#titulo_fase h2{
    position: center;
    left: 1vw;
    margin-top: 5%;
    font-size: 2vw;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

#titulo_fase a{
    position: absolute;
    left: 83.9%;
    font-size: 1.2vw;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    padding: 0.5vw;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: 1s;
    border: solid 5px transparent
}

#titulo_fase a:hover{
    border: solid 5px rgb(151, 151, 151);
}

#fase1 img{
    height: 50%;
    width: 32%;
    margin-top: 5%;
}


.respostas{
    margin-top: 10%;
    height: 20%;
}

.respostas label{
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;
}

.respostas input{
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;
}

@keyframes fade-in-out {

    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
    
}

.popup {
    position: relative;
    display: inline-block;
    height: 1.4vw;
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;
    padding: 0.1vw;
    color:white;
    border: solid 2px gray;
    border-radius: 0.2vw;
    background-color: black;
    padding: 0.1vw 0.5vw;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1 ;
    }
  }

@media only screen and (max-width: 600px) {
    
    section{
        height: 190vw;
    }

    #titulo_fase a{
        position: absolute;
        left: 83.9%;
        top: 40vw;
        font-size: 3vw;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        padding: 0.5vw;
        border-radius: 10px;
        background-color: black;
        color: white;
        transition: 1s;
        border: solid 5px transparent
    }

    #fase1 h2{
        font-size: 5vw;
        margin-top: 10%;
    }
    
    #fase1 img{
        margin-top: 10%;
        margin-bottom: 30%;
        width: auto;
        height: 45%;
    }

    .respostas{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .respostas label{
        font-size:4.5vw;
    }

    .respostas input{
        display: flex;
        align-items: center;
        height: 5vw;
        font-size: 3vw;
        width: 30vw;
    }

    .resposta input[type="text"]{
        width: 3vw;
    }

    .popup{
        margin-left: 1vw;
        height: 6vw;
        width: 15vw;
        text-align: center;  
        font-size: 5vw;
    }
    .popuptext{
        width: auto;
        margin-left: -15vw;
    }
    

}
