#sobre, #parabens{
    padding-top: 2vw;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

@keyframes appear-in {
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}
@keyframes appear-a-in {
    0%{
        color: white;
    }
    100%{
        color: gray;
    }
}

#titulo{
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: center;
    animation: appear-in 5s;
    animation-delay: 0s;
}

#titulo h2{
    font-size: 3vw;
}

#texto{
    animation: appear-in 5s;
    display: flex;
    flex: 90%;
    margin: 0px 0px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

#texto p{
    margin-top: 5%;
    font-size: 2vw;
    text-align: justify;
}
#texto a{
    text-decoration: none;
    color: gray;
    animation: appear-a-in 5s;
    transition: all 1s;
}
#texto a:hover{
    text-decoration: underline;
}

#secreto{
    font-size: 0.05vw;
    color: white;
    cursor: default;
}

@media only screen and (max-width: 600px) {

    #sobre{
        height: 230vw;
    }

    #parabens{
        height: 300vw;
    }

    #titulo h2{
        font-size: 9vw;
    }
    
    #texto p {
        font-size: 5.5vw;
    }
 

}