@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0px;
}

body{
    overflow-x: hidden;
    background-color: #fafafa;
}

header{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141313;
}

div#logo{
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo img{
    width: 6vw;
    height: 6vw;
}

@keyframes right-slide {
    0%{
        transform: translateX(30vw);
    }
    100%{
        transform: translateX(0);
    }
}

div#menu{
    margin-right: 10%;
    display: flex;
    align-items: center;
    color: #fafafa;
    animation: right-slide 3s normal;
}
#menu p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

#menu a{
    margin-right: 1.5vw;
    text-decoration: none;
    color: #fafafa;
    transition: all 0.5s;
    font-size: 1.5vw;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 1.5vw;
    
}

#menu a:hover{
    color: #cccccc;
    border-bottom: 1px solid  #cccccc;
}

section{
    width: 90%;
    height: 60vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

#index{
    animation: fade 5s;
}

#sobre{
    padding-top: 2vw;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

#formulario{
    padding-top: 2vw;
    flex-direction: column;
    height: 80vw;
    animation: fade 5s;
}

#formulario h1{
    font-size: 3vw;
    text-align: center;
    font-family: 'Noto Sans' ,sans-serif;
}

#fases{
    padding-top: 2vw;
    flex-direction: column;
    animation: fade 5s;
}

#fases h1{
    font-size: 3vw;
    font-family: 'Noto Sans', sans-serif;
}

#fase1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fase1 img{
    height: 50%;
    width: 32%;
    margin-top: 10%;
}

@keyframes appear-in {
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}

#titulo{
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: center;
    animation: appear-in 5s;
    animation-delay: 0s;
}

#titulo h1{
    font-size: 3vw;
}

#texto{
    animation: appear-in 5s;
    display: flex;
    flex: 90%;
    margin: 0px 0px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

#texto p{
    margin-top: 5%;
    font-size: 2vw;
    text-align: justify;
}

#secreto{
    font-size: 0.05vw;
    color: white;
    cursor: default;
}

@keyframes up-down {
    
    0%{
        transform: translateY(3vw);
    }

    100%{
        transform: translateY(-3vw);
    }
    
}

#nome{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('img/hexagono.png') no-repeat center;
    background-size: 50vw 50vw;
    animation: up-down 3s infinite ease-in-out alternate;
}


@keyframes fade{

    0%{
        opacity: 0%;
    }
    20%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}

#nome h1{
    font-family:'Noto Sans', sans-serif;
    text-align: center;
    font-size: 2vw;
}


#jogar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogar a{
    display: flex;
    width: 16vw;
    height: 6vw;
    text-decoration: none;
    background-color: #141313;
    border-radius: 100px;
    border: #929292 3px solid;
    transition: all 0.4s;
}

#img_button{
    flex: 100%;
    background: url('img/Iniciar.png') no-repeat center;
    background-size: 70% 70%;
    transition: 0.4 all;
}

@keyframes trocar-img-in {
    
    0%{
        background: url('img/Iniciar.png') no-repeat center;
        background-size: 80% 80%;
        opacity: 100%;
    }
    49%{
        opacity: 2%;
    }
    50%{
        background: no-repeat center;
        size: 35% 90%;
        opacity: 0%;
    }
    100%{
        opacity: 100%;
        background: url('img/ER.png') no-repeat center;
        background-size: 35% 90%;
    }

}
@keyframes trocar-img-out {
    
    0%{
        opacity: 100%;
        background: url('img/ER.png') no-repeat center;
        background-size: 35% 90%;
        
    }
    
    49%{
        opacity: 2%;
    }
    
    50%{
        opacity: 0%;
        background: no-repeat center;
        size: 80% 80%;
        scale: 0.75;
    }
    
    100%{
        opacity: 100%;
        background: url('img/Iniciar.png') no-repeat center;
        background-size: 80% 80%;
        opacity: 100%;
        scale: 0.9;
    }

}

#jogar a:hover{
    transform: scale(1.25);
}

#jogar a:hover #img_button{
    animation: trocar-img-in 1s ease-out;
    background: url('img/ER.png') no-repeat center;
    background-size: 35% 90%;
}

#jogar a:not(:hover) #img_button{
    animation: trocar-img-out 1s ease-in-out;
}

#mobile_img{
    display: none;
}

form{
    width: 90%;
    height: 90%;
    margin: 5%;
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    justify-content: left;
    text-align: left;
    background-color: #929292;
    border-radius: 5vw;
    border: #141313 solid 2px;
}

form p {
    font-size: 2vw;
    font-family: 'Noto Sans', sans-serif;
}

label{
    font-size: 2vw;
    font-family: 'Noto Sans', sans-serif;
}

input, textarea{
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1vw;
    border-radius: 5px;
}

input[type="radio"]{
    accent-color: black;
    height: 1vw;
    width: 1vw;
}

textarea{
    font-size: 1.5vw;
}

#radio{
    font-size: 1.5vw;
}

#all_levels{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fases{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fase{
    width: 24vw;
    height: 13.5vw;
    margin: 1vw;
    border-radius: 1vw;
    border: solid 1px #141313;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.fase a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.fase img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

.fase:hover{
    transform: scale(1.10);
}

.respostas{
    margin-top: 10%;
    height: 20%;
}

.respostas label{
    font-size: 2vw;
    font-family: 'Noto Sans', sans-serif;
}

.respostas input{
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;;
}

@keyframes fade-in-out {

    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
    
}

#alerta{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1vw;
    color: red;
    margin-bottom: 5%;
    opacity: 0%;
}

footer{
    width: 100%;
    height: 7vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #141313;
}

footer h1{
    color: #fafafa;
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
    header{
        height: 35vw;
    }
    
    #logo img{
        width: 20vw;
        height: 20vw;
    }
    
    #menu a{
        font-size: 3.5vw;
    }
    
    section{
        flex-direction: column;
        height: 170vw;
    }
    
    #titulo h1{
        font-size: 9vw;
    }
    
    #texto p {
        font-size: 5.5vw;
    }
    #nome{
        height: 50%;
        width: 100%;
        background-size: 72vw 72vw;
    }
    
    #nome h1{
        font-size: 3vw;
    }
    
    #jogar{
        height: 50%;
        width: 100%;
    }
    
    #mobile_img{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #mobile_img img{
        width: 30vw;
        height: 30vw;
    }
    
    #button{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #formulario{
        height: 170vw;
    }

    #formulario h1{
        font-size: 7vw;
    }

    form p{
        font-size: 6vw;
    }

    label{
        font-size: 6vw;
    }

    input{
        font-size: 3vw;
    }

    textarea{
        font-size: 4.5;
    }

    #radio{
        font-size: 4vw;
    }

    input[type="radio"]{
        width: 3vw;
        height: 3vw;
    }

    #fases h1{
        font-size: 5vw;
    }

    #all_levels{
        flex-direction: row;
    }

    .fases{
        height: 100%;
        width: 50%;
        flex-direction: column;
    }

    .fase{
        width: 32vw;
        height: 18vw;
    }

    #fase1 img{
        margin-bottom: 10%;
        width: 70%;
    }

    .respostas{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .respostas label{
        font-size:4.5vw;
    }

    .respostas input{
        display: flex;
        align-items: center;
        height: 5vw;
        font-size: 3vw;
    }

    .resposta input[type="text"]{
        width: 3vw;
    }

    .respostas input[type="button"]{
        display: flex;
        align-items: center;
        height: 6.5vw;
    }

    #alerta{
        font-size: 5vw;
        margin-bottom: 20%;
    }

    footer{
        height: 30vw;
    }
    
    footer h1{
        font-size: 2vw;
    }
    
  }
